fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
alembic==1.13.3
pydantic==2.9.2
pydantic-settings==2.5.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
google-auth-oauthlib==1.2.1
google-api-python-client==2.131.0
